


/* Browser artifacts */

#table_events_container {
	display: block;
	overflow-x: auto;
    white-space: nowrap;
}
#table_events{
    table-layout: fixed;
    width: 100%;
	/*word-break: break-all;*/
	
}

#table_events tr {
	vertical-align: middle;
	line-height: 30px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#table_events tr td {
	padding: 4px
}




/* START cards */
.card {
	background-color: #f7b924
}
.icon-wrapper {
	width: 54px;
    height: 54px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.rounded-circle {
	border-radius: 50%!important;
}

.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: .2;
}
.opacity-10 {
    opacity: 1!important;
}
.bg-warning {
    background-color: #f7b924!important;
}

.icon-wrapper {
    min-width: 54px;
    margin: 0 1rem 0 0;
}


/* END cards */

