{% extends  "case/index.html" %}

{% block content %}


	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_file_upload/css/jquery.fileupload.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_file_upload/css/jquery.fileupload-ui.css')}}" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_file_upload/css/jquery.fileupload-noscript.css')}}"/></noscript>
    <noscript><link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_file_upload/css/jquery.fileupload-ui-noscript.css')}}"/></noscript>


<style>


.processing_machine_name_title .label {
    display:inline-block
}
.progress {
    width: 100%;
    text-align: left;
}

/* parsers tabs */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #393e5a;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #393e5a #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #393e5a transparent #393e5a #393e5a;
  *border-right-color: #ffffff;
}

.tabs-left .nav > li > a:hover,
.tabs-left .nav > li > a:active,
.tabs-left .nav > li > a:focus {
    color: inherit;
  background: inherit ;
  border: 1px solid #393e5a;
}

/* ------------------ machine card  */
.ip_address {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.ip_address img {
    vertical-align: text-top;
}

/* ------------------ dropdown groups ------------------ */
#dropdown_groups {
    width:300px;
    background-color: #26283c;

    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    border: 1px solid #393e5a;
    border-radius: 0px;
}

#dropdown_groups > li {
    
    color: #a7a7ba;
    padding: 3px 20px;
    
}

#dropdown_groups > li:hover {
    background-color: #636777;
    cursor: pointer;
}

#dropdown_groups > li button{
    background-color: inherit;
}
#dropdown_groups > li button.delete_group{
    color:#f20475;
}
#dropdown_groups > li button.delete_group:hover{
    color:#d40366;
}

#dropdown_groups > li button.assign_to_group{
    color:#00BBE0;
}
#dropdown_groups > li button.assign_to_group:hover{
    color:#00a0bf;
}
#dropdown_groups > li button.deassign_from_group{
    color:#f29d56;
}
#dropdown_groups > li button.deassign_from_group:hover{
    color:#f3862c;
}


.delete_selected_group{
    cursor:pointer;
}
.delete_selected_group:hover{
    color: #ccc
}
</style>







<!-- ===================== Add machine modal START ========================= -->

<div class="modal fade" id="add_machine" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Machine</h4>
            </div>
            <form action="/case/{{case_details['casename']}}/add_machine/" method="post" class="form-horizontal">
                <div class="modal-body">
                
                    <div class="input-group col-md-12">
                    <label>Machine Name:</label>
                    <div class="">
                    <input type="text" id="machinename" name="machinename" class="form-control"
                    placeholder="Enter the machine name" value="{{ request.form.machinename }}"
                    required>
                    </div>
                    </div>

                    <div class="input-group col-md-12">
                    <label>  IP:   </label>
                    <input type="text" id="ip" name="ip" class="form-control"
                    placeholder="Enter ip address" value="{{ request.form.ip }}"
                    required>
                    </div>
                
                    <p>{{ error }}</p>
                </div>
                <div class="modal-footer">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- ===================== Add machine modal END ========================= -->


<!-- ===================== Processing Window START ========================= -->

<!-- select parsers window  -->
<div class="box" id="parsers_box_container" style="display: none">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-play"></i> Processing Machine <b class="processing_machine_name_title"></b> </h3>
    </div>

    <div class="box-body">

        <div class="row">
            <div class="col-md-6">
                <!-- ============== buttons back/select all ===============-->
                <button type="button" class="parsers_back_to_machines btn btn-info btn-sm"><i class="fa fa-fw fa-angle-left"></i> Back</button>

                <div class="btn-group">    
                    <button type="button" class="parsers_select_all btn btn-default btn-sm" data-action="select_all"><i class="fa fa-circle-o"></i> <span>Select All</span></button>
                    <button type="button" class="parsers_selection_next_btn btn btn-sm btn-warning"><i class="fa fa-play"></i> Next</button>
                </div>
                <br /><br />

                <!-- ============== parsers selection ===============-->
                <div id="parsers_selection_table" class="pull-left"></div>
            </div>
            <div class="col-md-6">

            <!-- ============== selected parsers ===============-->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Selected Parsers: </h3>
                </div>

                <div class="box-body">
                    <div id="process_selected_parsers"></div>
                </div>
            <!-- /.box-body -->
            </div>

        </div>
    </div>

    <br />
    

    <br /><br />
    <div class="callout callout-danger parsers_selection_error_msg" style="display: none">
        <h4>Warning!</h4>
        <p></p>
    </div>
    </div>
</div>

<!-- ===================== Processing Window END ========================= -->


<!-- ===================== List all Machines START ========================= -->

<!-- list the machines in table  -->
<div  id="list_of_machines_box_container">

  <div class="box-header">
    
    <!-- =============== General Buttons ================ -->



        <!-- machines actions (select, delete, process) -->
        <div class="btn-group">
            <button type="button" id="process_check_all" data-checked='false' class=" btn btn-default btn-sm" title="Select/Deselect all"><i class="fa fa-circle-o"></i> </button>
            <button type="button" class="btn_delete_machine btn btn-danger  btn-sm" title="Delete selected machines"><i class="fa fa-close"></i> Delete</button>
            <button type="button" class="start_processing_selected btn btn-warning btn-sm" title="Process all selected machines"><i class="fa fa-play"></i> Process</button>
        </div>

        <!-- adding machines (add machine, upload machines) -->
        <div class="btn-group float-right">
            <button type="button" data-toggle="modal" data-id="Test2" data-target="#add_machine" class="btn btn-primary  btn-sm add_machine_btn" btn="" btn-primary=""><i class="fa fa-plus"></i> Add</button>
            <a href="{{url_for('case_upload_machine', case_id=case_details['casename'] )}}" class="btn btn-success  btn-sm"><i class="fa fa-upload" title="upload machine zip files"></i> Upload</a>
        </div>


        <!-- machine groups (machines groups buttons) -->
        <div class="btn-group">
            
            <!-- add group -->
            <button type="button" id="add_group" class="btn btn-default btn-sm" data-toggle="popover"><i class="fa fa-plus"></i> Add</button>

              <div id="add_group_popover" class="hide"   data-trigger="focus">


                <form action="/case/{{case_details['casename']}}/add_group" method="post">
                  <div class="input-group input-group-sm">
                      <input type="text" name="group_name" class="form-control add_group_name" placeholder="Group Name" required>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat"><li class="fa fa-check"></li></button>
                      </span>
                  </div>
                </form>





              </div>
              

            <!-- group dropdown list-->
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-object-group"></i> Groups <span class="caret"></span></button>
                <div class="dropdown-menu" role="menu" id="dropdown_groups">
                    {% for group in groups_list %}
                        <li class="select_group" group-id="{{group['group_name']}}">
                            <span href="#">{{group['group_name']}}</span>
                                <button type="button" class="btn btn-xs pull-right delete_group" group-name="{{group['group_name']}}" title="Delete group"><i class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-xs pull-right assign_to_group" group-name="{{group['group_name']}}" title="Assign the selected machines to this group"><i class="fa fa-plus-circle"></i></button>
                                <button type="button" class="btn btn-xs pull-right deassign_from_group" group-name="{{group['group_name']}}" title="Deassign the selected machines from this group"><i class="fa fa-minus-circle"></i></button>
                        </li>
                    {% endfor %}
                </div>
            </div>

        </div>

        <b><span id="selected_group" class="btn btn-primary btn-xs" style="display:none"><i class="fa fa-object-group"></i> <span class="selected_group"></span> <i class="delete_selected_group fa fa-times"></i></span> </b>
        

        

  <br /><br />

    <!-- =============== Info/Error Messages ================ -->


      {% if message is not none %}
        
        <div class="callout callout-success">
          <h4>Message</h4>
          <p>{{message}}</p>
        </div>
      {% endif %}

      {% if err_msg is not none %}
        <div class="callout callout-danger">
          <h4>Alert</h4>
          <p>{{err_msg}}</p>
        </div>
      {% endif %}
  </div>

<!-- =============== Confirmation popup ============== -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected machines? This action is irreversible.
            </div>
            <input type="hidden" name="casename" id="casename" value="">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>
  </div>
  <!-- =============== END confirmation popup ================ -->


  <!-- =========== Machine Card START ============== -->

  <div id="info_boxes_machine" class="row">
      {% for machine in all_machines %}

          
          <div class=" col-md-4"> 

                <!-- machine icon  -->
                <div class="info-box" style="min-width: max-content;">
                    <span class="info-box-icon elevation-1 machine_icon" machine-id="{{machine['_id']}}" style="border:0;">
                        <!--<img src="{{url_for('static', filename='dist/img/machine-icon.png')}}" hieght="20" width="60"> -->
                        <i style="display:none" class="spinnericon fa fa-spinner fa-spin text-red" style="font-size:60px"></i>
                        <i class="machineicon fa fa-tv " style="font-size:60px"></i>
                    </span>

                    <div class="info-box-content">

                        <!-- machine information  -->
                        <div class="widget-subheading">
                            <input type="checkbox" class="checkbox_process" data-machineid="{{machine['_id']}}"  data-machinename="{{machine['machinename']}}" data-caseid="{{machine['main_case']}}">
                            <b><a href='/case/{{case_details["casename"]}}/browse_artifacts?q=%7B"AND"%3A%5B%7B"%3D%3Dmachine"%3A"{{machine["_id"]}}"%7D%5D%7D' data-toggle="tooltip" data-placement="right" title="Description: "> {{machine['machinename']}} </a></b> 
                            <span class="ip_address" title="IP address"><img src="{{url_for('static', filename='dist/img/IPaddress.png')}}" hieght="12" width="12"> {{machine['ip']}}</span>
                        </div>
                        

                        <!-- Groups -->
                        <div>
                            <h6><span class="text-muted"><i class="fa fa-fw fa-object-group"></i></span>
                                {% for group in machine['groups'] %}
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-xs" href="{{url_for('all_machines', case_id=case_details['casename'] , group_name=group )}}"><span> {{ group }}</span></a>
                                        <a class="btn btn-primary btn-xs" href="{{url_for('case_browse_artifacts', case_id=case_details['casename'] , group=group )}}"><span> <i class="fa fa-cubes "></i></span></a>
                                    </div>
                                {% endfor %}
                            </h6>
                        </div>

                        
                        <!-- Card Buttons -->
                        <div>
                            <div class="buttons btn-group" style="text-align: center" valign="center">
                                <a href='/case/{{case_details["casename"]}}/machine_files/{{machine["_id"]}}' class=" btn btn-default  btn-xs" title="Show uploaded files for the machine"><i class="fa fa-file-text-o"></i> Files</a>
                                <button herf='' data-toggle="modal" data-id2="{{machine['_id']}}" data-id="{{machine['main_case']}}" data-target="#add_artifacts"  data-target="" class="open-caseid btn btn-success btn-xs" title="Upload artifacts"><i class="fa fa-upload"></i> Upload</button>


                                {% if case_details['status'] == 'not_active' %}
                                    <button type="button"  data-machineid="{{machine['_id']}}" data-machinename="{{machine['machinename']}}" data-caseid="{{machine['main_case']}}" disabled class="start_processing2 btn btn-warning btn-xs" title="Process artifacts"><i class="fa fa-play"></i> Process</button>
                                {% else %}
                                    <button type="button"  data-machineid="{{machine['_id']}}" data-machinename="{{machine['machinename']}}" data-caseid="{{machine['main_case']}}" class="start_processing2 btn btn-warning btn-xs" title="Process artifacts"><i class="fa fa-play"></i> Process</button>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                    <!-- Progress -->
                    <div machine-id="{{machine['_id']}}" class="progress active status_machine" style="margin:0; height: 20px; text-align:center">
                        <div class="progress_label" style="color: white; position: absolute; width:100%"></div>
                        <div class="progress_bar progress-bar progress-bar-striped" style=" width: 0%;"></div>
                    </div>


                </div>

          </div>
      {% endfor %}
  </div>


<!-- ========================= Upload Artifacts Dialog START  ===================== -->
<div class="modal fade" id="add_artifacts" role="dialog" style="width=80%">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Add New Artifacts: <a data-toggle="tooltip" data-placement="bottom" title="You can upload raw file or ZIP file (without password) contains the files "><i class="fa fa-info-circle"></i></a> <b><span class="label label-primary add_artifacts_machine_name_title"></span></b></h4>
            </div>
            <div class="modal-body" id="model_body_upload">
                
                <!-- The file upload form used as target for the file upload widget -->
				<form id="fileupload" enctype="multipart/form-data">
					
					<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
					<div class="row fileupload-buttonbar">
					<div class="col-lg-7">
					
						<!-- The fileinput-button span is used to style the file input field as button -->
						<div class="btn-group">

							<span class="btn btn-primary btn-sm fileinput-button">
							
							<i class="glyphicon glyphicon-plus"></i>
							<span>Add files...</span>
							<input type="file" name="files[]" multiple />
							</span>
							<button type="submit" class="btn btn-success btn-sm start">
							<i class="fa fa-upload"></i>
							<span>Start Upload</span>
							</button>
							<button type="reset" class="btn btn-warning  btn-sm cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel Upload</span>
							</button>
						</div>
						<!-- The global file processing state -->
						<span class="fileupload-process"></span>
					</div>
					<!-- The global progress state -->
					<div class="col-lg-5 fileupload-progress fade">
						<!-- The global progress bar -->
						<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar progress-bar-prime" style="width:0%;"></div>
						</div>
						<!-- The extended global progress state -->
						<div class="progress-extended">&nbsp;</div>
					</div>
					</div>
					<div><ul id="files_list"></ul></div>
					<!-- The table listing the files available for upload/download -->
					<table role="presentation" class="table table-striped">
					<tbody class="files"></tbody>
					</table>
				</form>


                <p>{{ error }}</p>
                </div>

            </div>

        </div>
    </div>


<!-- template used for upload files -->
{% raw %}
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-upload fade">
              <td>
                  {% if (window.innerWidth > 480 || !o.options.loadImageFileTypes.test(file.type)) { %}
                      <p class="name">{%=file.name%}</p>
                  {% } %}
                  <strong class="error text-danger"></strong>
              </td>
              <td width="10%">
                  <span class="size">Processing...</span>
			  </td>
			  <td width="30%">
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-prime" style="width:0%;"></div></div>
              </td>
              <td width="30%">
			  		<div class="buttons btn-group pull-right">
                  {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                    <button class="btn btn-success edit" data-index="{%=i%}" disabled>
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Edit</span>
                    </button>
                  {% } %}
                  {% if (!i && !o.options.autoUpload) { %}
                      <button class="btn btn-primary start" disabled>
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                  {% } %}
                  {% if (!i) { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
				  </div>
              </td>
          </tr>
      {% } %}
    </script>
{% endraw %}

<!-- ========================= Upload Artifacts Dialog END  ===================== -->



<!-- jQuery 3 -->
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>


<script src="../../static/dist/jquery_file_upload/js/vendor/jquery.ui.widget.js"></script>



<!-- jQuery Knob -->
<script src="../../static/bower_components/jquery-knob/js/jquery.knob.js"></script>

<!-- prograsbar  -->
<script src="../../static/dist/js/nanobar.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../static/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js"></script>



<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../../static/dist/jquery_file_upload/js/vendor/tmpl.min.js"></script>


    <!-- toast notifications -->
    <script src="../../static/dist/jquery_toast/jquery.toast.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_toast/jquery.toast.min.css')}}">

    
<script src="{{url_for('static' , filename='Kuiper.js')}}"></script>
    <!-- tag input -->

    <script src="../../static/dist/tagsinput/bootstrap-tagsinput.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/tagsinput/bootstrap-tagsinput.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/tagsinput/bootstrap-tagsinput-typeahead.css')}}">


    <script src="{{url_for('static', filename='dist/js/load-image.all.min.js')}}"></script>



<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../../static/dist/jquery_file_upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="../../static/dist/jquery_file_upload/js/jquery.fileupload-ui.js"></script>




<script type="text/javascript">


// ================================ Variables

var parsers                   =new Array();
var selected_mount            = 1
// once selected the parser it should go into a list and then request from the server side
var Current_case_details      = ({{case_details|tojson|safe}})
var Current_case              = Current_case_details['casename']
var parsers_details           = ({{ parsers_details|tojson|safe }}); // list of parsers from mongoDB
var all_machines              = ({{ all_machines|tojson|safe }});
var groups_list              = ({{ groups_list|tojson|safe }});


var parsers_selected_machines = '';
var parsers_selected_case     = '';
  
var update_process_interval   = 5000; // microseconds wait before update progress status 


var progress_result           = []    // store the progress for each machine

if(Current_case_details['status'] == 'not_active'){
    $(".start_processing_selected").attr('disabled','disabled')
}


jQuery(function($){
    $('.dropdown-toggle').dropdown();
    

            // file upload handler
            $('#fileupload').fileupload({
                downloadTemplateId  : null,         // disable downloadTemplateId 
                disableImagePreview : true,       // disable preview
                dataType            : 'json',
                edit                : false,
                autoUpload          : false,
                maxFileSize         : 5000000000,   // 5 GB
                maxNumberOfFiles    : 100,
                sequentialUploads   : true,
                done: function (e, data) {
                    if( data._response.result.result == false){
                        data.context.find('.error').html(data._response.result.message)
                        data.context.find('.progress').html('<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>')
                    } else {
                        data.context.find('.buttons').html('<i class="fa fa-fw fa-check"></i>');
                        data.context.find('.progress').html('<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>')
                        
                    }
                    data.context.find('.progress').removeClass('active')
                    data.context.find('.progress').removeClass('progress-striped')
                },

                submit: function(e, data){
                    // submit the file with name as base64 
                    var fileName    = data.originalFiles[0].name
                    var newFileName = btoa(fileName)
                    // Update the form data with the new key value
                    data.formData = { 'base64_name': newFileName };                                                       // new file name without extension
                }
            });

            
    for(group in groups_list){
        if(groups_list[group].hasOwnProperty("selected") && groups_list[group]["selected"] == true){
            
            $("#selected_group").show()
            $(".selected_group").html(groups_list[group]['group_name'])
        }
    }
    

})







// ================================ Functions 

// this function convert bgrColor to hex
function hexc(colorval) {
    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
    delete(parts[0]);
    for (var i = 1; i <= 3; ++i) {
        parts[i] = parseInt(parts[i]).toString(16);
        if (parts[i].length == 1) parts[i] = '0' + parts[i];
    }
    color = '#' + parts.join('');
}




// build the content of the processing window content 
function build_start_process(caseid , machineids , machinenames){
  parsers_selected_case       = caseid
  parsers_selected_machines   = machineids
  var machine_names           = machinenames
  
  var machines_name_title = ""
  for(var n in machine_names){
      machines_name_title += '<span class="label label-primary">' + machine_names[n] + '</span> '
  }
  
  $('.processing_machine_name_title').html(machines_name_title)

  $('#list_of_machines_box_container').hide()
  $('#parsers_box_container').show()
  $('#process_selected_parsers').html('')

  // reformat the list of parsers
  var general_parsers = {};
  for(var p in parsers_details){
    if( parsers_details[p]['parser_type_field'] in general_parsers )
      general_parsers[ parsers_details[p]['parser_type_field'] ].push( parsers_details[p]['name'] )
    else
      general_parsers[ parsers_details[p]['parser_type_field'] ] = [ parsers_details[p]['name'] ]  
  }
  if('os_general' in general_parsers)
    general_parsers['os_general'].push('kjson')
  else
    general_parsers['os_general'] = ['kjson']

    
  // build the table of parsers
  var parsers_tables_ul = '<ul class="nav nav-tabs">';
  var parsers_tables_tab = '<div class="tab-content">';
  
  var is_active = "active";
  for(var p in general_parsers){
    
    parsers_tables_ul += '<li class="'+is_active+'"><a href="#select_parsers_'+p+'" data-toggle="tab">'+p+'</a></li>';
    parsers_tables_tab += '<div class="tab-pane '+is_active+'" id="select_parsers_'+p+'"><table>';
    is_active = "";
    
    for(var i in general_parsers[p]){
        parsers_tables_tab += '<tr><td><div class="checkbox"><label><input type="checkbox" class="parsers_selection_checkbox" value="'+general_parsers[p][i]+'">'+general_parsers[p][i]+'</label></td></tr></div>'
        //parsers_tables_tab += '<button type="button" class="btn btn-app btn-block" value="'+general_parsers[p][i]+'">'+general_parsers[p][i]+'</button>'
    }
    parsers_tables_tab += '</table></div>'
  }
  parsers_tables_ul += '</ul>'
  parsers_tables_tab += '</div>'
  // add the html of the table to the page
  $('#parsers_selection_table').html('<div class="container">\
      <div class="tabbable tabs-left">' + parsers_tables_ul + parsers_tables_tab + '</div>\
    </div>')

}









// this function will update the progress for all machines
function update_parsers_progress_all_machines(){
      var machines_list = []
      for(var m in all_machines)
        machines_list.push(all_machines[m]['_id'])
      

      $(".process_events").empty()       
      var url_page = '/case/'+Current_case +'/progress'
      $.ajax({
            type : 'POST',
            url : url_page,
            contentType: 'application/json;charset=UTF-8',
            data : JSON.stringify({'machines_list': machines_list }),
            success: function(result) {

                var machines_list = JSON.parse(result);
                for(var i = 0 ; i < machines_list.length ; i++){

                    var machine_id      = machines_list[i]['machine']
                    var progress_result = machines_list[i]['progress']
                    
                    var parsers = {}
                    
                    var is_parsing  = progress_result['parsing']; // if there are some parsers still parsing
                    var total       = progress_result['pending'] + progress_result['parsing'] + progress_result['done'] + progress_result['queued'] + progress_result['error']
                    var total_done  = progress_result['done']
                    var total_queued= progress_result['queued']
                    
                    // if there is parsers still running, change the color of progress bar
                    var vfgColor = '#00bc8c'

                    if(is_parsing > 0)
                        vfgColor = '#f20475'
                    
                    if(is_parsing == 0 && total != total_done)
                        vfgColor = '#f29d56'
                    
                    
                    $(".machine_icon").each(function(){
                        var machine = $(this).attr('machine-id')
                        if( machine_id == machine){
                            if(total_queued || is_parsing){
                                $(this).children('i.machineicon').hide()
                                $(this).children('i.spinnericon').show()
                                //$(this).removeClass('bg-aqua')
                                //$(this).addClass("bg-red")
                            } else {
                                $(this).children('i.machineicon').show()
                                $(this).children('i.spinnericon').hide()
                                //$(this).addClass('bg-aqua')
                                //$(this).removeClass("bg-red")
                            }
                        }
                    })
                    $(".status_machine").each(function(){
                        var machine = $(this).attr('machine-id')
                        if( machine_id == machine){
                            if( hexc( $(this).children(".progress-bar").css('backgroundColor') ) != vfgColor){
                                $(this).children(".progress-bar").css('backgroundColor' , vfgColor);
                            }
                            try{
                                $(this).children(".progress-bar").css('width' , ( (total_done/total)*100 ) + "%")
                                $(this).children(".progress_label").text( Math.ceil(total_done) + " / " + total + " ("+ Math.ceil( (total_done/total)*100 -0.99 ) + "%)" );        
                            } catch(err){
                                $(this).children(".progress-bar").css('width' , "0%")
                                $(this).children(".progress_label").text( Math.ceil(total_done) + " / " + total + " (0%)" );        
                            }
                            
                        }
                    })



                }
                

            },
            error: function(error){
                toast_msg("Connection Failed" , type='error' , header="Error")
            }
        });

}



// ================================ Listeners

/* ==================== groups ============================= */
$(function () {

    // this function will handle the popover dialog when user click add group button
    $('#add_group').popover({
        container   : 'body',
        placement   : 'bottom',
        title       : 'Add Group',
        html        : true,
        content     : $('#add_group_popover').html(),
    })
})

// close the popover if clicked any place else
$(document).on('click', function (e) {
    var $popover, $target = $(e.target);

    //do nothing if there was a click on popover content
    if ($target.hasClass('popover') || $target.closest('.popover').length || $target.attr('id') == $("#add_group").attr('id')) {
        return;
    }
    
    $('#add_group').each(function () {
        
        $popover = $(this);
        if (!$popover.is(e.target) && 
            $popover.has(e.target).length === 0 &&
            $('.popover').has(e.target).length === 0)
        {
            $popover.popover('hide');
        } else {
            //fixes issue described above
            $popover.popover('toggle');
        }
    });
})


// on group selected from dropdown list, go filter based on that group 
$(".select_group").click(function(e){
    var group_id = $(this).attr('group-id')
    var $a, $target = $(e.target);
    if(!($target.hasClass("delete_group")
         || $target.parent().hasClass('delete_group') 
         || $target.hasClass("assign_to_group") 
         || $target.parent().hasClass('assign_to_group')
         || $target.hasClass("deassign_from_group") 
         || $target.parent().hasClass('deassign_from_group'))){
        window.location.href = "{{url_for('all_machines', case_id=case_details['casename'] , group_name='group_name' )}}".replace("group_name", group_id);
    }
})


// delete the selected group, reset the search to include all machines
$(".delete_selected_group").click(function(){
    var url = "{{url_for('all_machines', case_id=case_details['casename'] )}}";
        window.location.href = url
})


// delete group
$(".delete_group").click(function(){
    var group_name = $(this).attr("group-name")
    
    var url_page = '/case/'+Current_case+'/delete_group/' + group_name
    $.ajax({
            type: 'GET',
            url: url_page,
            success: function(result) {
                var result = JSON.parse(result);
                if(result['result'] == 'successful')
                    toast_msg("Group ["+group_name+"] deleted" , type = "info" , header = "Success")
                else 
                    toast_msg("Failed deleting group ["+group_name+"]: " + result['message']  , type = "error" , header = "Error")
                
            },
            error: function() {
                toast_msg("Connection issue" , type = "error" , header = "Error")
            }
        });

})


// assign the selected machines to the specified group 
$(".assign_to_group").click(function(){
    var group_name = $(this).attr('group-name')

    var selected_machineids = [];
    $('.checkbox_process:checked').each(function(){
        selected_machineids.push($(this).data('machineid'))
    })

    if(selected_machineids.length == 0){
        toast_msg("No machine has been selected" , type = "error" , header = "Error")
        return;
    }
    var url_page = '/case/'+Current_case+'/assign_to_group/'
    $.ajax({
            type: 'POST',
            url: url_page,
            contentType: 'application/json;charset=UTF-8',
            data : JSON.stringify({'machines_list': selected_machineids , 'group_name' : group_name }),
            success: function(result) {
                var result = JSON.parse(result);
                if(result['result'] == 'successful')
                    toast_msg("Machines assigned to group ["+group_name+"]" , type = "info" , header = "Success")
                else 
                    toast_msg("Failed assign machines to group ["+group_name+"]: " + result['message']  , type = "error" , header = "Error")
                
            },
            error: function() {
                toast_msg("Connection issue" , type = "error" , header = "Error")
            }
        });
})


// deassign the selected machines from group
$(".deassign_from_group").click(function(){
    var group_name = $(this).attr('group-name')

    var selected_machineids = [];
    $('.checkbox_process:checked').each(function(){
        selected_machineids.push($(this).data('machineid'))
    })

    if(selected_machineids.length == 0){
        toast_msg("No machine has been selected" , type = "error" , header = "Error")
        return;
    }
    var url_page = '/case/'+Current_case+'/deassign_from_group/'
    $.ajax({
            type: 'POST',
            url: url_page,
            contentType: 'application/json;charset=UTF-8',
            data : JSON.stringify({'machines_list': selected_machineids , 'group_name' : group_name }),
            success: function(result) {
                var result = JSON.parse(result);
                if(result['result'] == 'successful')
                    toast_msg("Machines deassigned from group ["+group_name+"]" , type = "info" , header = "Success")
                else 
                    toast_msg("Failed deassign machines from group ["+group_name+"]: " + result['message']  , type = "error" , header = "Error")
                
            },
            error: function() {
                toast_msg("Connection issue" , type = "error" , header = "Error")
            }
        });
})






/* ==================== START Parsers ====================== */
// check all machines to be parsed
$('#process_check_all').click(function() {
    if($(this).attr('data-checked') == 'false') {
        $(this).attr('data-checked' , 'true')
        $('.checkbox_process').prop("checked", true);
        $(this).find('.fa').removeClass('fa-circle-o')
        $(this).find('.fa').addClass('fa-circle')
    } else {
        $(this).attr('data-checked' , 'false')
        $('.checkbox_process').prop("checked", false);
        $(this).find('.fa').removeClass('fa-circle')
        $(this).find('.fa').addClass('fa-circle-o')
    }
});





// when user click next button from select parser window
$('#parsers_box_container').on('click' , '.parsers_selection_next_btn' , function(){
    if(Current_case_details['status'] == 'not_active'){
        toast_msg('Cannot parse "not active" cases'  , type='error' , header = 'Error')
        return;
    }
  var selected_parsers = []
  // get checked parsers
  $.each($('.parsers_selection_checkbox:checked') , function(){
      selected_parsers.push( $(this).val() )
  } )
  
  if(parsers_selected_machines.length == 0 ||  parsers_selected_case == ''){
      toast_msg('Machine or Case not properly selected' , type = "error" , header = "Error")
      return;
  }
  for(var m in parsers_selected_machines){
      // send the list of parsers to controller via ajax
      var url_page = '/case/'+parsers_selected_case+'/processartifacts/'+parsers_selected_machines[m]+'/'+selected_parsers
          $.ajax({
              type: 'GET',
              url: url_page,
              success: function(data, status, request) {
                  // if success go back to machines list
              },
              error: function() {
                  // if there was an error on the ajax
                  toast_msg('Failed to start processing a machine'  , type='error' , header = 'Error')
                  $('#parsers_box_container .parsers_selection_error_msg p').html('There was an error on the parsing, please check the logs')
                  $('#parsers_box_container .parsers_selection_error_msg').show()
              }
          });
  }

  toast_msg('Started parsing artifacts'  , type='info' , header = 'Success')
  // go to thet machines list page
  $('.parsers_back_to_machines').click()
})






// when user click back button from select parser window
$('#parsers_box_container').on('click' , '.parsers_back_to_machines' , function(){
    $('#list_of_machines_box_container').show()
    $('#parsers_box_container').hide()

    parsers_selected_case = ''
    parsers_selected_machines = []
    $('.checkbox_process').attr('checked' , false)  // clear checkbox selected machines
    $('#process_check_all').attr('data-checked' , 'false') // clear the select all checkbox


})






// when user click delete selected machines button
$('#list_of_machines_box_container').on('click' , '.btn_delete_machine' , function(){
    $('#confirmModal').modal('show');
})

$('#confirmDelete').on('click', function () {
    var selected_machineids = [];
    var caseid = null;
    $('.checkbox_process:checked').each(function(){
        selected_machineids.push($(this).data('machineid'))
        caseid = $(this).data('caseid')
    })

    var url_page = '/case/'+Current_case+'/delete_machine/'+selected_machineids
    $.ajax({
            type: 'GET',
            url: url_page,
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                location.reload(true);
            },
            error: function() {
                toast_msg("Connection Failed" , type = "error" , header = "Error")
            }
            });
})

$('#cancelDelete').on('click', function () {
    $('#confirmModal').modal('hide');
})


// when user click processing button for selected machines
$('#list_of_machines_box_container').on('click' , '.start_processing_selected' , function(){
    var selected_machineids = [];
    var selected_machinenames = [];
    var caseid = null;
    $('.checkbox_process:checked').each(function(){
        selected_machineids.push($(this).data('machineid'))
        selected_machinenames.push($(this).data('machinename'))
        caseid = $(this).data('caseid')
    })

    build_start_process(caseid , selected_machineids , selected_machinenames)

})






// when user click processing button
$('#info_boxes_machine').on('click' , '.start_processing2' , function(){
  var caseid = $(this).data('caseid')
  var machineid = [$(this).data('machineid')]
  var machinename = [$(this).data('machinename')]
  build_start_process(caseid , machineid , machinename)

})





// if "Selecte All" button clicked, check all parsers
$('#parsers_box_container').on('click' , '.parsers_select_all' , function(){
  var is_select_all = $(this).data('action') == 'select_all'
  $('.parsers_selection_checkbox').each(function( index ) {
      if( ( !$(this).prop('checked') && is_select_all ) || ( $(this).prop('checked') && !is_select_all ) ) 
          $(this).click()
  });
  if($(this).data('action') == 'select_all'){
    $(this).children('span').text('Deselect All')
    $(this).data('action' , 'deselect_all')
    $(this).children('i').removeClass('fa-circle-o')
    $(this).children('i').addClass('fa-circle')
  } else {
    $(this).children('span').text('Select All')
    $(this).data('action' , 'select_all')
    $(this).children('i').addClass('fa-circle-o')
    $(this).children('i').removeClass('fa-circle')
  }
})







// if parser selected, add it to the selected parsers list
$('#parsers_selection_table').on('change' , '.parsers_selection_checkbox' , function(){
    var selected_parser = $(this).val()
    var is_check = $(this).prop('checked')
    if(is_check){
        $('#process_selected_parsers').append(' <dvi id="process_selected_parsers_' + selected_parser + '"><span class="badge bg-yellow">' + selected_parser + ' </span><br /></div>')
    } else {
      $('#process_selected_parsers_' + selected_parser).remove()
      
    }
})






// on click upload artifacts button 
$(document).on("click", ".open-caseid", function () {
    var main_case_id      = $(this).data('id')
    var machine_case_id   = $(this).data('id2')
    var upload_url        = "/case/"+main_case_id+"/uploadartifacts/"+machine_case_id
  
    $(".add_artifacts_machine_name_title").html(machine_case_id.slice(main_case_id.length + 1))
    $("#fileupload").attr("action" , upload_url)
    
  });
  
  






// when click add machine button
$(document).on("click", ".add_machine_btn", function () {
  $(".modal-body #main_case_id").val( $('#case_id').text() );
});




// ================================ Main code



// this function will run every 5 seconds to update the parser status progress bar for all machines
setInterval(function(){
  update_parsers_progress_all_machines()
}, update_process_interval);




// call the update function progress bar the first time
$(document).ready(function(){update_parsers_progress_all_machines()})


    </script>
{% endblock %}

