https://github.com/msuhanov/yarp/archive/1.0.31.tar.gz
construct==2.10.54
olefile==0.46
bitstring==3.1.6
python_dateutil==2.8.0
docopt==0.6.2
evtx==0.6.11
ifaddr==0.1.7
psutil==5.8.0
requests==2.26.0
redis==3.5.3
psutil==5.8.0
requests==2.26.0
celery==4.3.0
PyYAML==5.1.2
libesedb-python==20210424