{% extends	"admin/index.html" %}

{% block content %}


<section class="content">

<!-- =============== start tabs =============== -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active ">
    <a class="nav-link" id="parsers-tab" data-toggle="tab" href="#parsers_tab" role="tab" aria-controls="contact">Parsers</a>
  </li>
</ul>

<!-- =============== Ends tabs ============ -->



<div class="tab-content" id="myTabContent">
  
  <!-- ================ Starts Parsers tab ===============-->
  <div class="tab-pane show active" id="parsers_tab" role="tabpanel" aria-labelledby="contact-tab">

          <div class="box">
            <div class="box-header">
              <div class="btn-group  pull-right">
                  <button type="button" class="change_parser_view btn btn-default btn-sm" data-content="parsers_list" title="List parser"><i class="fa fa-list"></i></button>
                  <button type="button" class="change_parser_view btn btn-default btn-sm" data-content="parsers_add" title="Add parser"><i class="fa fa-plus"></i></button>
                </div>
              
            </div>
            <!-- parsers list -->
            <div class="box-body no-padding parsers_content" id="parsers_list" style="display:None">
                <div class="">
                  <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th style="width: 60px">#</th>
                        <th>Parser</th>
                        <th>Parser Type</th>
                        <th>Created On</th>
                        <th>Description</th>
                        <th width="100">Options</th>
                      </tr>
                    </thead>
                  <tbody id="parsers_list_table"></tbody>
                </table>
              </div>
            </div>
            
            <!-- ======================== START add parser =================== -->
            <form id="upload-file" method="post" enctype="multipart/form-data">
            <div class="box-body parsers_content" id="parsers_add" style="display:None">
              <div class="row">
                    <input id="parser_folder_name" class="form-control" type="hidden" />
                  <div class="col-md-6">
                      <!-- parser name -->
                      <div class="form-group"><label>Parser Name</label> <a target="_blank" href="https://github.com/DFIRKuiper/Kuiper/wiki/Add-Custom-Parser" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Help to add custom parser" style="color:#00c0ef"><i class="fa fa-info-circle"></i></a>

                      <input type="text" id="parser_name_field" class="form-control" placeholder="Parser name ...">
                      </div>
                      
                      <!-- parser description-->
                      <div class="form-group"><label>Parser description</label>
                        <textarea class="form-control" id="parser_description_field" rows="3" placeholder="Description ..."></textarea>
                      </div>

                      <!-- parser upload -->
                      <div class="form-group"><label>Parser File</label>
                      <input name="parser_file_field" type="file" id="parser_file_field">
                      <p class="help-block">make sure it is compressed (.zip) file</p>
                      </div>

                      <!-- parser important fields -->
                      <div class="form-group"><label>Parser Important Fields</label>
                        <p class="help-block">List of fields shown in the table</p>
                        <table class="table table-striped no-padding parser_selection_important_field">
                            <tbody id="parser_selection_important_field_table">
                              <tr>
                                <th>Field Name</th>
                                <th>Field Path</th>
                                <th width="50"><button type="button" class="btn btn-success btn-xs parser_selection_add_important_field"><i class="fa fa-fw fa-plus"></i></button></th>
                              </tr>
                              <tr>
                                  <td><input type="text" class="parser_selection_important_field_name form-control" data-num="0" placeholder="Example: Event ID"/></td>
                                  <td><input type="text" class="parser_selection_important_field_path form-control" data-num="0" placeholder="Example: Event.System.EventID.#text"/></td>
                                <td><button type="button" class="btn btn-info parser_selection_del_important_field"><i class="fa fa-fw fa-minus"></i></button></td>
                              </tr>
                            </tbody>
                        </table>
                        
                      </div>
                      

                  </div>
                  <div class="col-md-6">
                      
                      <!-- Interface function -->
                      <div class="form-group"><label>Interface Function</label>
                      <input type="text" id="parser_interface_function_field" class="form-control" placeholder="Interface function ...">
                      <p class="help-block">Interface function will be called to to run the parser, (example: <b>python_file.parser_interface</b>)
                      <br />
                      interface function: <b>def parser_interface(file , parser)</b>
                      <br />
                      This function if success it returns the result as list of json records <b>[json_rec1 , json_rec2, ...]</b>
                      if the function failed it returns <b>(None , error_message)</b>
                      </p>
                      </div>
                      
                      
                      <!-- timestamp field -->
                      <div class="form-group"><label>Parser Type</label>
                        <select id="parser_type_field" class="form-control">
                          <option>logging_information</option>
                          <option>web_browser</option>
                          <option>program_execution</option>
                          <option>os_general</option>
                          <option>autostart_locations</option>
                          <option>user_activities</option>
                          <option>memory</option>
                        </select>
                      </div>
                      
                      <!-- files categorization -->
                      <div class="form-group"><label>Files Categorization</label>
                        <p class="help-block">How to identify the files when user upload them to the platform, (example: prefetch can be identified by type:"extenstion" and values:".pf")</p>

                        <select id="parser_files_categorization_type" class="form-control">
                            <option>extension</option>
                            <option>file_name</option>
                            <option>startswith</option>
                            <option>content</option>
                            <option>magic_number</option>
                          </select>
                          <div>
                              <input id="parser_files_categorization_values" class="form-control" type="text" placeholder="separated by comma" />
                          </div>

                      </div>


                  </div> 

                  
              </div>
              <!-- submit button -->
              <div class="box-footer">

                <div class="progress">
                  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  0%
                  </div>
                </div>

                <button type="button" id="add_parser_button_submit" data-action="add" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Add parser</button>
              </div>
            </div>
          </form>
          <!-- ======================== END add parser =================== -->
          </div>
  </div>
  <!-- ================ Ends Parsers tab ===============-->


</div>

</section>


<!-- jQuery 3 -->
<script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- prograsbar  -->
<script src="../../static/dist/js/nanobar.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../static/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js"></script>



<!-- toast notifications -->
    <script src="../../static/dist/jquery_toast/jquery.toast.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/jquery_toast/jquery.toast.min.css')}}">

    
<script src="{{url_for('static' , filename='Kuiper.js')}}"></script>




  <script type="text/javascript">


/* =================== Variables ================ */

var parsers_details = null
var current_parser_view = 'parsers_list' // by default show the parsers_list view



/* =================== Functions ================ */


// build the table of parsers list 
function update_parsers_table(){
  $.ajax({
    type : 'POST',
    url : "/admin/config/get_parsers_ajax",
    
    success: function(result) {

        var result_ajax = JSON.parse(result);
        if(result_ajax['result'] == 'failed'){
            toast_msg('Failed to get parsers details' , type='error' , header = "Error")
            return;
        }
        var r = result_ajax['data']
        parsers_details = r
        var parsers_list_table = $('#parsers_list_table')
        parsers_list_table.html('')
        // add parsers table content
        for(var i = 0 ; i < r.length ; i++){

          // convert important fields from json to html
          var imp_fields_html = ''
          for(var imp in r[i]['important_field']){
            imp_fields_html += '<span class="badge">Name</span> ' + r[i]['important_field'][imp]['name'] + ' <span class="badge">Path</span> ' + r[i]['important_field'][imp]['path'] + "<br />"
          }

          var cat_files_html = '<b>'+r[i]['parser_files_categorization_type']+'</b> '
          cat_files_vals = (r[i]['parser_files_categorization_values'] != null) ? r[i]['parser_files_categorization_values'].split(",") : []
          for(var v in cat_files_vals){
            cat_files_html += '<span class="badge bg-blue">'+cat_files_vals[v]+'</span> '
          }

          // add the html to parsers table
          parsers_list_table.append('<tr>\
              <td>'+(i+1)+' <a data="'+i+'" class="dropdown_parser_details" style="cursor: pointer;"><i class="fa fa-fw fa-chevron-right"></i></a></td>\
              <td>'+r[i]['name']+'</td>\
              <td>'+r[i]['parser_type_field']+'</td>\
              <td>'+r[i]['creation_time'].split('T').join(' ').split('.')[0] +'</td>\
              <td>'+r[i]['description']+'</td>\
              <td>\
                  <div class="btn-group">\
                  <button type="button" class="parsers_edit_parser btn btn-warning btn-xs" data-parsername="'+r[i]['name']+'" title="Edit Parser"><i class="fa fa-fw fa-edit"></i></button>\
                    <button type="button" class="parsers_delete_parser btn btn-danger btn-xs" data-parsername="'+r[i]['name']+'" title="Remove Parser"><i class="fa fa-fw fa-remove "></i></button>\
                  </div>\
              </td>\
          </tr><tr id="parser_details_'+i+'" style="display:none">\
            <td colspan="6" style="padding: 0;">\
              <table class="table table_left_header">\
              <tr><td width="200"><b>Name</b></td><td> '+r[i]['_id']+'</td></tr>\
              <tr><td width="200"><b>Interface Function</b></td><td> '+r[i]['interface_function']+'</td></tr>\
              <tr><td width="200"><b>Description</b></td><td> '+r[i]['description']+'</td></tr>\
              <tr><td width="200"><b>Creation Time</b></td><td> '+r[i]['creation_time'].split('T').join(' ').split('.')[0]+'</td></tr>\
              <tr><td width="200"><b>Parser Type</b></td><td> '+r[i]['parser_type_field']+'</td></tr>\
              <tr><td width="200"><b>Parser Folder</b></td><td> '+r[i]['parser_folder']+'</td></tr>\
              <tr><td width="200"><b>Important Fields</b></td><td> '+imp_fields_html+'</td></tr>\
              <tr><td width="200"><b>Files Categorization</b></td><td> '+cat_files_html+'</td></tr>\
              </table>\
            </td>\
          </tr>')
        }

    },
    error: function(error){
      toast_msg('Failed to get parsers details, check connection' , type='error' , header = "Error")
    }
  });
}



/* =================== Listeners ================ */

// parsers options - edit parser
$('#parsers_list_table').on('click' , '.parsers_edit_parser' , function(){
    var parser = $(this).data('parsername')

    // change the view to add parser
    $(".change_parser_view[data-content='parsers_add']").click()
    // get parser details
    var parser_detail = null
    for(var i in parsers_details)
        if(parsers_details[i]['name'] == parser)
          parser_detail = parsers_details[i];
    
    
    // fill the fields with parser details
    $('#parser_name_field').attr('disabled','disabled')
    $('#parser_name_field').val(parser_detail['name'])
    $('#parser_description_field').val(parser_detail['description'])
    $('#parser_interface_function_field').val(parser_detail['interface_function'])
    $('#parser_type_field').val(parser_detail['parser_type_field'])
    $('#parser_files_categorization_type').val(parser_detail['parser_files_categorization_type'])
    $('#parser_files_categorization_values').val(parser_detail['parser_files_categorization_values'])
    $("#parser_folder_name").val(parser_detail['parser_folder'])

    
    for(var v in parser_detail['important_field']){
        $(".parser_selection_important_field_name[data-num='"+v+"']").val(parser_detail['important_field'][v]['name'])
        $(".parser_selection_important_field_path[data-num='"+v+"']").val(parser_detail['important_field'][v]['path'])
        if(v < parser_detail['important_field'].length -1 )
            $('.parser_selection_add_important_field').click()
    }


    $('#add_parser_button_submit').attr('data-action' , 'edit')
    $('#add_parser_button_submit').addClass('btn-warning')
    $('#add_parser_button_submit').removeClass('btn-info')
    $('#add_parser_button_submit').html('<i class="fa fa-fw fa-edit"></i> Edit parser')

})

// parsers options - remove parser
$('#parsers_list_table').on( 'click',  '.parsers_delete_parser' , function(){
    var parser = $(this).data('parsername')
    $.ajax({
      type : 'POST',
      url : "/admin/config/delete_parsers_ajax",
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify( {'data' : {'parser' : parser} }),
      success: function(result) {
  
          var r = JSON.parse(result)['result'];
          if(r == 'true'){
            toast_msg('Parser ['+parser+'] Removed Successfully')
            update_parsers_table()
          } else {
            toast_msg('Parser ['+parser+'] Could not be Removed: ' + r['msg'] , type='error' , header = "Error")
          }

  
      },
      error: function(error){
        toast_msg('Parser ['+parser+'] Could not be Removed \n ' + error.toString() , type='error' , header="Error")
      }
    });
})


// on document downloaded
$(document).ready(function(){
  // show details of the parsers on the parser tab table
    $('#parsers_list').fadeIn("fast")
    update_parsers_table()
    $('#parsers_list_table').on('click' , '.dropdown_parser_details' , function(){
        $('#parser_details_' + $(this).attr('data')).fadeToggle()
    })
})




// showing the parsers content tab
$('.change_parser_view').on( 'click' , function(){
  var clicked_parser_view = $(this).data('content')
  // if clicked parser view is different than the current view change the view
  if( current_parser_view !=  clicked_parser_view){
    $('#' + current_parser_view).fadeOut( "fast", function() {
        $('#' + clicked_parser_view).fadeIn("fast")
    });
    current_parser_view = clicked_parser_view
  }
  // if current view is parsers_list then build the table of parsers
  if(current_parser_view == "parsers_list")
    update_parsers_table()
  

  // if current view is adding parser
  if(current_parser_view == 'parsers_add'){

      $('#parser_name_field').removeAttr('disabled')
      $('#parser_name_field').val('')
      $('#parser_description_field').val('')
      $('#parser_interface_function_field').val('')
      $('#parser_type_field').val('logging_information')
      $('#parser_files_categorization_type').val('extension')
      $('#parser_files_categorization_values').val('')
      $("#parser_folder_name").val('')

      $('.parser_selection_important_field_path').parent().parent().remove()
      $('.parser_selection_add_important_field').click()

      $('#add_parser_button_submit').attr('data-action' , 'add')
      $('#add_parser_button_submit').removeClass('btn-warning')
      $('#add_parser_button_submit').addClass('btn-info')
      $('#add_parser_button_submit').html('<i class="fa fa-plus"></i> Add parser')
  } 

})


// add parsers - add important field input 
$('.parser_selection_add_important_field').click(function(event){
    var num = $('.parser_selection_important_field_name').length
    var input_imp_field = '<tr>\
          <td><input type="text" class="parser_selection_important_field_name form-control" data-num="'+num+'"  placeholder="Example: Event ID"/></td>\
          <td><input type="text" class="parser_selection_important_field_path form-control" data-num="'+num+'" placeholder="Example: Event.System.EventID.#text"/></td>\
          <td><button type="button" class="btn btn-info parser_selection_del_important_field"><i class="fa fa-fw fa-minus"></i></button></td>\
      </tr>'
    
    $('#parser_selection_important_field_table').append(input_imp_field)

})

// add parsers - delete important field input
$('#parser_selection_important_field_table').on( 'click' , '.parser_selection_del_important_field' , function(event){
    $(this).parent().parent().remove()
})

// add parser submit
$('#add_parser_button_submit').click( function(event){

    event.preventDefault();
    var action = $(this).data('action')
    var formData = new FormData($('#upload-file')[0]);
    formData.append('name' , $('#parser_name_field').val())
    formData.append('description' ,  $('#parser_description_field').val())
    formData.append('interface_function' , $('#parser_interface_function_field').val())
    formData.append('parser_type_field' , $('#parser_type_field').val() )
    formData.append('parser_files_categorization_type' , $('#parser_files_categorization_type').val() )
    formData.append('parser_files_categorization_values' , $('#parser_files_categorization_values').val() )
    formData.append('action' , action ) // add or edit 
    formData.append('parser_folder' , $("#parser_folder_name").val())
    
    // get all the important fields from the table
    var parser_selection_important_field_name = []
    var parser_selection_important_field_path = []
    $.each( $('.parser_selection_important_field_name') , function(){
      parser_selection_important_field_name.push( $(this).val() )
    } )
    $.each( $('.parser_selection_important_field_path') , function(){
      parser_selection_important_field_path.push( $(this).val() )
    } )
    // combine both list into json important fields
    var parser_selection_important_field = []
    for(var v = 0 ; v < parser_selection_important_field_name.length ; v++)
        if(parser_selection_important_field_name[v] != '' || parser_selection_important_field_path[v] != '')
            parser_selection_important_field.push(parser_selection_important_field_name[v] + ',' + parser_selection_important_field_path[v])
    
    // name,path|name,path|....
    formData.append('important_field' , parser_selection_important_field.join('|') )

    var url_page = '/admin/config/add_parser'
    $.ajax({
            xhr : function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener('progress', function(e) {

                if (e.lengthComputable) {
                    var percent = Math.round((e.loaded / e.total) * 100);
                    $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                    $('#filesit').empty();
                    if ( percent == 100)
                      $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text('Done');
                }
              });
              return xhr;
            },
            type: 'POST',
            url: url_page,
            data : formData,
            processData : false,
            contentType : false,
            async: true,
            dataType: 'json',
            success: function(data, status, request) {
                if(data['result'] == "failed")
                  toast_msg(data['msg'], type = "error" , header = "Error")
                else
                  toast_msg( (action == 'add') ? 'Parser added' : 'Parser Updated' , type = "info" , header = "Done")
                
            },
            error: function() {
                toast_msg('Failed to add parsers details, check connection' , type='error' , header = "Error")
            }
      });
      

})




/* =================== End Parser ================ */

  </script>

{% endblock %}
