{% block leftsidebar %}
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->

	<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

        {% for title in SIDEBAR['sidebar'] %}
            <li class="treeview">

            {% if case_details is mapping %}
                {% set case_id = case_details['casename'] %}
            {% else %}
                {% set case_id = case_details %}
            {% endif %}
            <a href="{{ title['Title'][1].replace('<case_id>' , case_id) }}"> 
                <i class="{{title['Title'][2]}}"></i><span> {{title['Title'][0]}} </span>
                {% if title['Title'][3] is defined %}
                    <span class="{{title['Title'][3]}}"> {{title['Title'][4]|safe}} </span>
                {% endif %}
            </a>

            {% if title['SubTitles'] is not none %}
                <ul class="treeview-menu">
                {% for subtitle in title['SubTitles'] %}
                      <li><a href="{{subtitle[1].replace('<case_id>' , case_id)}}"><i class="fa fa-circle-o"></i> {{subtitle[0]}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </li>
            {% endfor %}

        <li   class="treeview" style="position: absolute; bottom:0;"><a href="#" class="sidebar-toggle" data-toggle="push-menu"><i class="fa fa-bars"></i></a></li>
    </ul>
</section>
<!-- /.sidebar -->
</aside>
{% endblock %}


<script>



  // whne click sidebar open/close button, store the information on session storage
  $('.sidebar-toggle').click(function() {
    event.preventDefault();
    if (Boolean(sessionStorage.getItem("sidebar-toggle-collapsed"))) {
      sessionStorage.setItem("sidebar-toggle-collapsed", "");
    } else {
      sessionStorage.setItem("sidebar-toggle-collapsed", "1");
    }
  });

</script>